input:focus, textarea:focus, button:focus {
    outline:none !important;
}

input, textarea, button {
    border-radius: 5px !important;
}

label {
    visibility: hidden;
    position: absolute;
}

input, textarea {
    width: 60%;
    margin: 8px !important;
}

button {
    color: #ffffff;
    background-color: #3c4242;
}

button:focus {
    background-color: #ffffff;
    color: #f9fdfb;
    transition: all .2s;
}

button:hover {
    color: #000000;
    background-color: #ffffff;
    transition: all .2s;
}